{
  "extends": "@1stg/eslint-config/recommended",
  "rules": {
    "@typescript-eslint/ban-types": 0,
    "@typescript-eslint/interface-name-prefix": 0,
    "@typescript-eslint/no-use-before-define": [
      2,
      {
        "classes": false,
        "functions": false
      }
    ],
    "@typescript-eslint/no-unnecessary-condition": 0
  }
}
